<div class = "chatroom">
  <div class = "container">
    <div class = "row">
      <div class = "col-md-8 order-md-1 scroll" id='posts'>
        <%= render @posts %>
      </div>
      <div class="col-md-4 order-md-0">
        <%= current_user.name %>
        <%= form_with(model: @post, local: true) do |f| %>
        <%= render 'layouts/error_messages', object: f.object %>
          <div class="form-group">
            <%= text_field_tag 'post[group_id]', "#{@group.id}", type: "hidden" %>
            <%= f.text_area :message, class: 'form-control', rows: 3, data: { behavior: 'group_speaker' } %>
          </div>
          <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
        <% end %>
         <%= render 'layouts/members_name', group: @group %>
        <% if @group.members.count == 1 %>
          あなたが退出するとこのグループは自動的に削除されます。
        <% end %>
      </div>
    </div>
  </div>
</div>

