<div class = "show_group">
  <div class = "container">
    <h2>グループ詳細</h2>
      <%= render 'layouts/group_info', group: @group %>
      <div class = "chunk">
        <span class = "card-subtitle">参加者：</span>
         <%= render 'layouts/members_name', group: @group %>
      </div>
      <h5>メッセージ</h5>
      <div class = "message">
        <%= @group.content %>
      </div>
      <% if current_user.group.find_by(id: params[:id]) == @group %>
        <%= link_to "ルームに移動", members_group_path(@group), class: "btn btn-primary" %>
      <% elsif @group.members.count < @group.limit%>
        <%= link_to "グループに参加", join_group_path(@group), class: "btn btn-primary" %>
      <% else %>
        <a href="#" class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">満員</a>
      <% end %>
  </div>
</div>