<div class = "user_profile">
  <div class = "container">
    <h2>プロフィール</h2>
    <!--画像挿入欄-->
    <p><%= @user.name %></p>
    <% if current_user? %>
      <div class = "user_menu">
        <div class = "user_edit_btn">
          <%= link_to "編集", edit_user_path(@user), class: 'btn btn-md btn-primary'%>
        </div>
        <div class = "create_group_btn">
          <%= link_to "グループ作成", new_group_path, class: 'btn btn-md btn-primary' %>
        </div>
      </div>
    <% end %>
    <div class = "message">
      <%= @user.content %>
    </div>
    <h5>現在参加中のグループ</h5>
    <% unless @user.group.empty? %>
      <div class = "col-md-6 offset-md-3">
        <%= render "layouts/card", group: @user.group.first %>
      </div>
    <% end %>
  </div>
</div>
